:root{
  --gradient: linear-gradient(135deg, #8844ee, #B07DFB);
  --primary-darker: #8844ee;
  --primary-lighter: #B07DFB;
  --lighter-bg:#fafbfc;
  --shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 6.25%;
}

body{
  font-family: "Vollkorn", Georgia, 'Times New Roman', Times, serif;
  font-size: 16rem;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  border-radius: 8rem;
}
